@import "bulma/sass/utilities/_all.sass";

.container {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.title {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.2;
}

.link {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2;
}

.spacer {
  display: inline-block;
  width: 1rem;
}