@import "bulma/sass/utilities/_all.sass";

$phone: 564px;

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include until ($phone) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
}

.link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
}

.spacer {
  display: inline-block;
  width: 1rem;
}