@import "bulma/sass/utilities/_all.sass";
@import "variables";

.container {
  @include until($tablet) {
    flex-direction: column-reverse;
    display: flex;
  }
}

.header-image-container {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  background-color: $colour-black;
}

.header-image {
  height: 100%;
  width: auto;
}

.content {
  a {
    color: $colour-black;
    font-weight: 500;
    text-decoration: underline;
  }
}

pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: $colour-black;
  border-left: 2px solid;
}

.side {
  padding-top: 1.8rem;
  
  @include until($tablet) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.2rem;
  }
}

.icon {
  font-size: 1.7rem;
  padding-right: 0.5rem;
}

.repo-item {
  color: inherit;
  font-size: 1.2rem;
  font-family: monospace;
  padding: 0.5rem;
  border-color: inherit;
  border: 1px solid;
  border-bottom: 2px solid;
}

.line {
  border-top: 1px solid $colour-grey;
}

.technology-Item {
  background-color: $colour-black;
  color: $colour-white;
  font-size: 1.2rem;
  font-family: monospace;
  padding: 0.5rem;
}