.image-container {
  height: 250px;
  width: auto;
}

.image {
  max-width:100%;
  max-height:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: #8d8d8d;
}

.text-container {
  padding: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}

.description {
  font-size: 1rem;
  color:rgb(117, 117, 117);
}